<!DOCTYPE html>
<html>
<style>
.toc ol li a {
	color: #00C;
	text-decoration: none;
}
.pluginTitle h3 a {
	color: #444;
	text-decoration: none;
}

.pluginTitle h3 a:hover {
	color: #666;
}

p.link {
	margin: 0 2px;
	padding: 2px;
}

h3.link {
	margin: 2px;
	padding: 5px;
}

h4 {
	color: #666;
	margin-bottom: 5px;
}

section p a {
	font-size: 15px;
	text-decoration: none;
	font-weight: bold;
}
</style>
<head>
<title>x3chaos {% if page.title %}| {{ page.title }} {% endif %}</title>
<link rel="stylesheet" href="../css/styles.css" />
<link rel="icon" href="../img/favicon.ico" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript">
var taglines = [ 'asdf!', 'I\'m a tagline!', 'Facebook!', 'l33t 4@ck3r, b1tc435!', 'Not a crook!', 'Four capital letters!', 'Twitter!', 'MySpace! (lol, jk)', 'Minecraft!', 'Narcissism!', 'Not the blog you\'re looking for!', 'Narf!', 'Welcome to Qrrbrbirlbel!', 'new Tagline();' ];
$(document).ready(function() {
	$('#tagline').text(taglines[Math.floor(Math.random() * taglines.length)]);
});
</script>
</head>

<body>
	<a name="top"></a>
	<div class="wrapper">
		<header>
			<h1><a title="x3chaos" href="http://github.com/x3chaos">x3chaos</a></h1>
			<p id="tagline">%tagline%</p>
			<ul>
				<li class="first"><a title="Index" href="http://x3chaos.org/index.html">Index</a></li>
				<li><a title="All Posts" href="http://x3chaos.org/all-posts.html">Posts</a></li>
				<li><a title="SimpleMail" href="http://x3chaos.org/simplemail/index.html">SimpleMail</a></li>
			</ul>
		</header>
		<section class="pluginTitle">
			<h3 style="text-align:center;font-size:25px;margin-bottom:5px;padding:0;">
				<a title="{{ page.title}} on GitHub" href="{% if page.pluginRepo %} {{ page.pluginRepo }} {% else %} http://www.github.com {% endif %}">{{ page.title }}</a>
			</h3>
			<p style="text-align:center;font-size:15px;color:#999;margin-top:5px;padding:0;">{{ page.pluginTagline }}</p>
		</section>
		{{ content }}
	</div>
	<footer>
		<ul>
			<li><a title="View on GitHub" href="http://github.com/x3chaos/x3chaos.github.com">View page source</a></li>
		</ul>
		<p>Original design by <a title="x3chaos" href="http://github.com/x3chaos">x3chaos</a></p>
	</footer>
</body>

</html>
